* {
  color: white;
  box-sizing: border-box;
}

.logo {
  width: 150px;
  margin-left: 1em;
  margin-top: 1em;
  filter: invert(1);
}
.logo img {
  width: inherit;
}
@media only screen and (max-width: 600px) {
  .logo-mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  .logo {
    width: 150px;
    margin-left: 0;
  }
}

body {
  overflow-x: hidden;
}

svg {
  background-color: #152636;
}

header {
  padding-top: 2em;
}

.section-header {
  text-transform: uppercase;
  font-size: 18px;
  height: 45px;
}

.section-box {
  height: calc(100% - 45px);
  display: grid;
  gap: 2px;
}
.boxes-4 {
  grid-template-columns: 1fr 1fr;
}

.boxes-6 {
  grid-template-columns: 1fr 1fr 1fr;
}

.box-info {
  background-color: #152636;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-info p {
  margin-bottom: 0.7em;
  font-size: 13px;
}

.info-procent {
  margin-bottom: 1em;
}
.info-procent p:first-child {
  margin-bottom: 0 !important;
}
.info-procent p:nth-child(2) {
  margin-bottom: 0 !important;
  font-size: 13px !important;
}

/*Market section*/
.market-news {
  background-color: #152636;
  padding: 0.1em 0.5em !important;
  margin-bottom: 0.2em;
}
.market-news p {
  font-size: 13px;
  display: inline;
}
.market-time {
  margin-right: 0.5em;
}
.market-img {
  display: inline;
  position: relative;
  margin-right: 0.5em;
  background-color: #fff;
  max-width: 20px;
  max-height: 20px;
}

/* Heatmap */

@media only screen and (max-width: 600px) {
  #graph1 {
    overflow-x: scroll;
  }
}

/*Calendar section*/
.calendar-box {
}
.calendar-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
}
.calendar-img img {
  width: 25px;
  height: auto;
}

.calendar-info p:nth-child(1) {
  font-size: 15px;
}

.calendar-info p:nth-child(2) {
  font-size: 13px;
}

.calendar-info p {
  margin-bottom: 0;
}

.moon-sun {
  margin-left: 1em;
  width: 25px;
  height: auto;
  filter: invert(100%);
}

/* Blog posts */
.blog-box {
}
.blog-img {
  width: 100px;
}

.border-1 {
  border: 1px solid #5386a1 !important;
}

.red {
  color: red !important;
  font-weight: bolder;
  font-size: 105% !important;
}
.green {
  color: greenyellow;
  font-weight: bolder;
  font-size: 110% !important;
}

.bg-one {
  background-color: #1b3242;
}
.bg-two {
  background-color: #264f6d;
}
.bg-three {
  background-color: #5386a1;
}
.bg-gradient-one {
  background: linear-gradient(
    180deg,
    rgb(34, 61, 80) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.heatmap {
  height: 700px;
}

.heat {
  margin: 0.2em;
}
.border-transparent {
  border: 2px solid transparent;
}
